.m1 {
  margin: 0.0625rem;
}

.mx1 {
  margin: 0 0.0625rem;
}

.my1 {
  margin: 0.0625rem 0;
}

.mt1 {
  margin-top: 0.0625rem;
}

.ml1 {
  margin-left: 0.0625rem;
}

.mb1 {
  margin-bottom: 0.0625rem;
}

.mr1 {
  margin-right: 0.0625rem;
}

.p1 {
  padding: 0.0625rem;
}

.px1 {
  padding: 0 0.0625rem;
}

.py1 {
  padding: 0.0625rem 0;
}

.pt1 {
  padding-top: 0.0625rem;
}

.pl1 {
  padding-left: 0.0625rem;
}

.pb1 {
  padding-bottom: 0.0625rem;
}

.pr1 {
  padding-right: 0.0625rem;
}

.fs1 {
  font-size: 1px;
}

.m2 {
  margin: 0.125rem;
}

.mx2 {
  margin: 0 0.125rem;
}

.my2 {
  margin: 0.125rem 0;
}

.mt2 {
  margin-top: 0.125rem;
}

.ml2 {
  margin-left: 0.125rem;
}

.mb2 {
  margin-bottom: 0.125rem;
}

.mr2 {
  margin-right: 0.125rem;
}

.p2 {
  padding: 0.125rem;
}

.px2 {
  padding: 0 0.125rem;
}

.py2 {
  padding: 0.125rem 0;
}

.pt2 {
  padding-top: 0.125rem;
}

.pl2 {
  padding-left: 0.125rem;
}

.pb2 {
  padding-bottom: 0.125rem;
}

.pr2 {
  padding-right: 0.125rem;
}

.fs2 {
  font-size: 2px;
}

.m3 {
  margin: 0.1875rem;
}

.mx3 {
  margin: 0 0.1875rem;
}

.my3 {
  margin: 0.1875rem 0;
}

.mt3 {
  margin-top: 0.1875rem;
}

.ml3 {
  margin-left: 0.1875rem;
}

.mb3 {
  margin-bottom: 0.1875rem;
}

.mr3 {
  margin-right: 0.1875rem;
}

.p3 {
  padding: 0.1875rem;
}

.px3 {
  padding: 0 0.1875rem;
}

.py3 {
  padding: 0.1875rem 0;
}

.pt3 {
  padding-top: 0.1875rem;
}

.pl3 {
  padding-left: 0.1875rem;
}

.pb3 {
  padding-bottom: 0.1875rem;
}

.pr3 {
  padding-right: 0.1875rem;
}

.fs3 {
  font-size: 3px;
}

.m4 {
  margin: 0.25rem;
}

.mx4 {
  margin: 0 0.25rem;
}

.my4 {
  margin: 0.25rem 0;
}

.mt4 {
  margin-top: 0.25rem;
}

.ml4 {
  margin-left: 0.25rem;
}

.mb4 {
  margin-bottom: 0.25rem;
}

.mr4 {
  margin-right: 0.25rem;
}

.p4 {
  padding: 0.25rem;
}

.px4 {
  padding: 0 0.25rem;
}

.py4 {
  padding: 0.25rem 0;
}

.pt4 {
  padding-top: 0.25rem;
}

.pl4 {
  padding-left: 0.25rem;
}

.pb4 {
  padding-bottom: 0.25rem;
}

.pr4 {
  padding-right: 0.25rem;
}

.fs4 {
  font-size: 4px;
}

.m5 {
  margin: 0.3125rem;
}

.mx5 {
  margin: 0 0.3125rem;
}

.my5 {
  margin: 0.3125rem 0;
}

.mt5 {
  margin-top: 0.3125rem;
}

.ml5 {
  margin-left: 0.3125rem;
}

.mb5 {
  margin-bottom: 0.3125rem;
}

.mr5 {
  margin-right: 0.3125rem;
}

.p5 {
  padding: 0.3125rem;
}

.px5 {
  padding: 0 0.3125rem;
}

.py5 {
  padding: 0.3125rem 0;
}

.pt5 {
  padding-top: 0.3125rem;
}

.pl5 {
  padding-left: 0.3125rem;
}

.pb5 {
  padding-bottom: 0.3125rem;
}

.pr5 {
  padding-right: 0.3125rem;
}

.fs5 {
  font-size: 5px;
}

.m6 {
  margin: 0.375rem;
}

.mx6 {
  margin: 0 0.375rem;
}

.my6 {
  margin: 0.375rem 0;
}

.mt6 {
  margin-top: 0.375rem;
}

.ml6 {
  margin-left: 0.375rem;
}

.mb6 {
  margin-bottom: 0.375rem;
}

.mr6 {
  margin-right: 0.375rem;
}

.p6 {
  padding: 0.375rem;
}

.px6 {
  padding: 0 0.375rem;
}

.py6 {
  padding: 0.375rem 0;
}

.pt6 {
  padding-top: 0.375rem;
}

.pl6 {
  padding-left: 0.375rem;
}

.pb6 {
  padding-bottom: 0.375rem;
}

.pr6 {
  padding-right: 0.375rem;
}

.fs6 {
  font-size: 6px;
}

.m7 {
  margin: 0.4375rem;
}

.mx7 {
  margin: 0 0.4375rem;
}

.my7 {
  margin: 0.4375rem 0;
}

.mt7 {
  margin-top: 0.4375rem;
}

.ml7 {
  margin-left: 0.4375rem;
}

.mb7 {
  margin-bottom: 0.4375rem;
}

.mr7 {
  margin-right: 0.4375rem;
}

.p7 {
  padding: 0.4375rem;
}

.px7 {
  padding: 0 0.4375rem;
}

.py7 {
  padding: 0.4375rem 0;
}

.pt7 {
  padding-top: 0.4375rem;
}

.pl7 {
  padding-left: 0.4375rem;
}

.pb7 {
  padding-bottom: 0.4375rem;
}

.pr7 {
  padding-right: 0.4375rem;
}

.fs7 {
  font-size: 7px;
}

.m8 {
  margin: 0.5rem;
}

.mx8 {
  margin: 0 0.5rem;
}

.my8 {
  margin: 0.5rem 0;
}

.mt8 {
  margin-top: 0.5rem;
}

.ml8 {
  margin-left: 0.5rem;
}

.mb8 {
  margin-bottom: 0.5rem;
}

.mr8 {
  margin-right: 0.5rem;
}

.p8 {
  padding: 0.5rem;
}

.px8 {
  padding: 0 0.5rem;
}

.py8 {
  padding: 0.5rem 0;
}

.pt8 {
  padding-top: 0.5rem;
}

.pl8 {
  padding-left: 0.5rem;
}

.pb8 {
  padding-bottom: 0.5rem;
}

.pr8 {
  padding-right: 0.5rem;
}

.fs8 {
  font-size: 8px;
}

.m9 {
  margin: 0.5625rem;
}

.mx9 {
  margin: 0 0.5625rem;
}

.my9 {
  margin: 0.5625rem 0;
}

.mt9 {
  margin-top: 0.5625rem;
}

.ml9 {
  margin-left: 0.5625rem;
}

.mb9 {
  margin-bottom: 0.5625rem;
}

.mr9 {
  margin-right: 0.5625rem;
}

.p9 {
  padding: 0.5625rem;
}

.px9 {
  padding: 0 0.5625rem;
}

.py9 {
  padding: 0.5625rem 0;
}

.pt9 {
  padding-top: 0.5625rem;
}

.pl9 {
  padding-left: 0.5625rem;
}

.pb9 {
  padding-bottom: 0.5625rem;
}

.pr9 {
  padding-right: 0.5625rem;
}

.fs9 {
  font-size: 9px;
}

.m10 {
  margin: 0.625rem;
}

.mx10 {
  margin: 0 0.625rem;
}

.my10 {
  margin: 0.625rem 0;
}

.mt10 {
  margin-top: 0.625rem;
}

.ml10 {
  margin-left: 0.625rem;
}

.mb10 {
  margin-bottom: 0.625rem;
}

.mr10 {
  margin-right: 0.625rem;
}

.p10 {
  padding: 0.625rem;
}

.px10 {
  padding: 0 0.625rem;
}

.py10 {
  padding: 0.625rem 0;
}

.pt10 {
  padding-top: 0.625rem;
}

.pl10 {
  padding-left: 0.625rem;
}

.pb10 {
  padding-bottom: 0.625rem;
}

.pr10 {
  padding-right: 0.625rem;
}

.fs10 {
  font-size: 10px;
}

.m11 {
  margin: 0.6875rem;
}

.mx11 {
  margin: 0 0.6875rem;
}

.my11 {
  margin: 0.6875rem 0;
}

.mt11 {
  margin-top: 0.6875rem;
}

.ml11 {
  margin-left: 0.6875rem;
}

.mb11 {
  margin-bottom: 0.6875rem;
}

.mr11 {
  margin-right: 0.6875rem;
}

.p11 {
  padding: 0.6875rem;
}

.px11 {
  padding: 0 0.6875rem;
}

.py11 {
  padding: 0.6875rem 0;
}

.pt11 {
  padding-top: 0.6875rem;
}

.pl11 {
  padding-left: 0.6875rem;
}

.pb11 {
  padding-bottom: 0.6875rem;
}

.pr11 {
  padding-right: 0.6875rem;
}

.fs11 {
  font-size: 11px;
}

.m12 {
  margin: 0.75rem;
}

.mx12 {
  margin: 0 0.75rem;
}

.my12 {
  margin: 0.75rem 0;
}

.mt12 {
  margin-top: 0.75rem;
}

.ml12 {
  margin-left: 0.75rem;
}

.mb12 {
  margin-bottom: 0.75rem;
}

.mr12 {
  margin-right: 0.75rem;
}

.p12 {
  padding: 0.75rem;
}

.px12 {
  padding: 0 0.75rem;
}

.py12 {
  padding: 0.75rem 0;
}

.pt12 {
  padding-top: 0.75rem;
}

.pl12 {
  padding-left: 0.75rem;
}

.pb12 {
  padding-bottom: 0.75rem;
}

.pr12 {
  padding-right: 0.75rem;
}

.fs12 {
  font-size: 12px;
}

.m13 {
  margin: 0.8125rem;
}

.mx13 {
  margin: 0 0.8125rem;
}

.my13 {
  margin: 0.8125rem 0;
}

.mt13 {
  margin-top: 0.8125rem;
}

.ml13 {
  margin-left: 0.8125rem;
}

.mb13 {
  margin-bottom: 0.8125rem;
}

.mr13 {
  margin-right: 0.8125rem;
}

.p13 {
  padding: 0.8125rem;
}

.px13 {
  padding: 0 0.8125rem;
}

.py13 {
  padding: 0.8125rem 0;
}

.pt13 {
  padding-top: 0.8125rem;
}

.pl13 {
  padding-left: 0.8125rem;
}

.pb13 {
  padding-bottom: 0.8125rem;
}

.pr13 {
  padding-right: 0.8125rem;
}

.fs13 {
  font-size: 13px;
}

.m14 {
  margin: 0.875rem;
}

.mx14 {
  margin: 0 0.875rem;
}

.my14 {
  margin: 0.875rem 0;
}

.mt14 {
  margin-top: 0.875rem;
}

.ml14 {
  margin-left: 0.875rem;
}

.mb14 {
  margin-bottom: 0.875rem;
}

.mr14 {
  margin-right: 0.875rem;
}

.p14 {
  padding: 0.875rem;
}

.px14 {
  padding: 0 0.875rem;
}

.py14 {
  padding: 0.875rem 0;
}

.pt14 {
  padding-top: 0.875rem;
}

.pl14 {
  padding-left: 0.875rem;
}

.pb14 {
  padding-bottom: 0.875rem;
}

.pr14 {
  padding-right: 0.875rem;
}

.fs14 {
  font-size: 14px;
}

.m15 {
  margin: 0.9375rem;
}

.mx15 {
  margin: 0 0.9375rem;
}

.my15 {
  margin: 0.9375rem 0;
}

.mt15 {
  margin-top: 0.9375rem;
}

.ml15 {
  margin-left: 0.9375rem;
}

.mb15 {
  margin-bottom: 0.9375rem;
}

.mr15 {
  margin-right: 0.9375rem;
}

.p15 {
  padding: 0.9375rem;
}

.px15 {
  padding: 0 0.9375rem;
}

.py15 {
  padding: 0.9375rem 0;
}

.pt15 {
  padding-top: 0.9375rem;
}

.pl15 {
  padding-left: 0.9375rem;
}

.pb15 {
  padding-bottom: 0.9375rem;
}

.pr15 {
  padding-right: 0.9375rem;
}

.fs15 {
  font-size: 15px;
}

.m16 {
  margin: 1rem;
}

.mx16 {
  margin: 0 1rem;
}

.my16 {
  margin: 1rem 0;
}

.mt16 {
  margin-top: 1rem;
}

.ml16 {
  margin-left: 1rem;
}

.mb16 {
  margin-bottom: 1rem;
}

.mr16 {
  margin-right: 1rem;
}

.p16 {
  padding: 1rem;
}

.px16 {
  padding: 0 1rem;
}

.py16 {
  padding: 1rem 0;
}

.pt16 {
  padding-top: 1rem;
}

.pl16 {
  padding-left: 1rem;
}

.pb16 {
  padding-bottom: 1rem;
}

.pr16 {
  padding-right: 1rem;
}

.fs16 {
  font-size: 16px;
}

.m17 {
  margin: 1.0625rem;
}

.mx17 {
  margin: 0 1.0625rem;
}

.my17 {
  margin: 1.0625rem 0;
}

.mt17 {
  margin-top: 1.0625rem;
}

.ml17 {
  margin-left: 1.0625rem;
}

.mb17 {
  margin-bottom: 1.0625rem;
}

.mr17 {
  margin-right: 1.0625rem;
}

.p17 {
  padding: 1.0625rem;
}

.px17 {
  padding: 0 1.0625rem;
}

.py17 {
  padding: 1.0625rem 0;
}

.pt17 {
  padding-top: 1.0625rem;
}

.pl17 {
  padding-left: 1.0625rem;
}

.pb17 {
  padding-bottom: 1.0625rem;
}

.pr17 {
  padding-right: 1.0625rem;
}

.fs17 {
  font-size: 17px;
}

.m18 {
  margin: 1.125rem;
}

.mx18 {
  margin: 0 1.125rem;
}

.my18 {
  margin: 1.125rem 0;
}

.mt18 {
  margin-top: 1.125rem;
}

.ml18 {
  margin-left: 1.125rem;
}

.mb18 {
  margin-bottom: 1.125rem;
}

.mr18 {
  margin-right: 1.125rem;
}

.p18 {
  padding: 1.125rem;
}

.px18 {
  padding: 0 1.125rem;
}

.py18 {
  padding: 1.125rem 0;
}

.pt18 {
  padding-top: 1.125rem;
}

.pl18 {
  padding-left: 1.125rem;
}

.pb18 {
  padding-bottom: 1.125rem;
}

.pr18 {
  padding-right: 1.125rem;
}

.fs18 {
  font-size: 18px;
}

.m19 {
  margin: 1.1875rem;
}

.mx19 {
  margin: 0 1.1875rem;
}

.my19 {
  margin: 1.1875rem 0;
}

.mt19 {
  margin-top: 1.1875rem;
}

.ml19 {
  margin-left: 1.1875rem;
}

.mb19 {
  margin-bottom: 1.1875rem;
}

.mr19 {
  margin-right: 1.1875rem;
}

.p19 {
  padding: 1.1875rem;
}

.px19 {
  padding: 0 1.1875rem;
}

.py19 {
  padding: 1.1875rem 0;
}

.pt19 {
  padding-top: 1.1875rem;
}

.pl19 {
  padding-left: 1.1875rem;
}

.pb19 {
  padding-bottom: 1.1875rem;
}

.pr19 {
  padding-right: 1.1875rem;
}

.fs19 {
  font-size: 19px;
}

.m20 {
  margin: 1.25rem;
}

.mx20 {
  margin: 0 1.25rem;
}

.my20 {
  margin: 1.25rem 0;
}

.mt20 {
  margin-top: 1.25rem;
}

.ml20 {
  margin-left: 1.25rem;
}

.mb20 {
  margin-bottom: 1.25rem;
}

.mr20 {
  margin-right: 1.25rem;
}

.p20 {
  padding: 1.25rem;
}

.px20 {
  padding: 0 1.25rem;
}

.py20 {
  padding: 1.25rem 0;
}

.pt20 {
  padding-top: 1.25rem;
}

.pl20 {
  padding-left: 1.25rem;
}

.pb20 {
  padding-bottom: 1.25rem;
}

.pr20 {
  padding-right: 1.25rem;
}

.fs20 {
  font-size: 20px;
}

.m21 {
  margin: 1.3125rem;
}

.mx21 {
  margin: 0 1.3125rem;
}

.my21 {
  margin: 1.3125rem 0;
}

.mt21 {
  margin-top: 1.3125rem;
}

.ml21 {
  margin-left: 1.3125rem;
}

.mb21 {
  margin-bottom: 1.3125rem;
}

.mr21 {
  margin-right: 1.3125rem;
}

.p21 {
  padding: 1.3125rem;
}

.px21 {
  padding: 0 1.3125rem;
}

.py21 {
  padding: 1.3125rem 0;
}

.pt21 {
  padding-top: 1.3125rem;
}

.pl21 {
  padding-left: 1.3125rem;
}

.pb21 {
  padding-bottom: 1.3125rem;
}

.pr21 {
  padding-right: 1.3125rem;
}

.fs21 {
  font-size: 21px;
}

.m22 {
  margin: 1.375rem;
}

.mx22 {
  margin: 0 1.375rem;
}

.my22 {
  margin: 1.375rem 0;
}

.mt22 {
  margin-top: 1.375rem;
}

.ml22 {
  margin-left: 1.375rem;
}

.mb22 {
  margin-bottom: 1.375rem;
}

.mr22 {
  margin-right: 1.375rem;
}

.p22 {
  padding: 1.375rem;
}

.px22 {
  padding: 0 1.375rem;
}

.py22 {
  padding: 1.375rem 0;
}

.pt22 {
  padding-top: 1.375rem;
}

.pl22 {
  padding-left: 1.375rem;
}

.pb22 {
  padding-bottom: 1.375rem;
}

.pr22 {
  padding-right: 1.375rem;
}

.fs22 {
  font-size: 22px;
}

.m23 {
  margin: 1.4375rem;
}

.mx23 {
  margin: 0 1.4375rem;
}

.my23 {
  margin: 1.4375rem 0;
}

.mt23 {
  margin-top: 1.4375rem;
}

.ml23 {
  margin-left: 1.4375rem;
}

.mb23 {
  margin-bottom: 1.4375rem;
}

.mr23 {
  margin-right: 1.4375rem;
}

.p23 {
  padding: 1.4375rem;
}

.px23 {
  padding: 0 1.4375rem;
}

.py23 {
  padding: 1.4375rem 0;
}

.pt23 {
  padding-top: 1.4375rem;
}

.pl23 {
  padding-left: 1.4375rem;
}

.pb23 {
  padding-bottom: 1.4375rem;
}

.pr23 {
  padding-right: 1.4375rem;
}

.fs23 {
  font-size: 23px;
}

.m24 {
  margin: 1.5rem;
}

.mx24 {
  margin: 0 1.5rem;
}

.my24 {
  margin: 1.5rem 0;
}

.mt24 {
  margin-top: 1.5rem;
}

.ml24 {
  margin-left: 1.5rem;
}

.mb24 {
  margin-bottom: 1.5rem;
}

.mr24 {
  margin-right: 1.5rem;
}

.p24 {
  padding: 1.5rem;
}

.px24 {
  padding: 0 1.5rem;
}

.py24 {
  padding: 1.5rem 0;
}

.pt24 {
  padding-top: 1.5rem;
}

.pl24 {
  padding-left: 1.5rem;
}

.pb24 {
  padding-bottom: 1.5rem;
}

.pr24 {
  padding-right: 1.5rem;
}

.fs24 {
  font-size: 24px;
}

.m25 {
  margin: 1.5625rem;
}

.mx25 {
  margin: 0 1.5625rem;
}

.my25 {
  margin: 1.5625rem 0;
}

.mt25 {
  margin-top: 1.5625rem;
}

.ml25 {
  margin-left: 1.5625rem;
}

.mb25 {
  margin-bottom: 1.5625rem;
}

.mr25 {
  margin-right: 1.5625rem;
}

.p25 {
  padding: 1.5625rem;
}

.px25 {
  padding: 0 1.5625rem;
}

.py25 {
  padding: 1.5625rem 0;
}

.pt25 {
  padding-top: 1.5625rem;
}

.pl25 {
  padding-left: 1.5625rem;
}

.pb25 {
  padding-bottom: 1.5625rem;
}

.pr25 {
  padding-right: 1.5625rem;
}

.fs25 {
  font-size: 25px;
}

.m26 {
  margin: 1.625rem;
}

.mx26 {
  margin: 0 1.625rem;
}

.my26 {
  margin: 1.625rem 0;
}

.mt26 {
  margin-top: 1.625rem;
}

.ml26 {
  margin-left: 1.625rem;
}

.mb26 {
  margin-bottom: 1.625rem;
}

.mr26 {
  margin-right: 1.625rem;
}

.p26 {
  padding: 1.625rem;
}

.px26 {
  padding: 0 1.625rem;
}

.py26 {
  padding: 1.625rem 0;
}

.pt26 {
  padding-top: 1.625rem;
}

.pl26 {
  padding-left: 1.625rem;
}

.pb26 {
  padding-bottom: 1.625rem;
}

.pr26 {
  padding-right: 1.625rem;
}

.fs26 {
  font-size: 26px;
}

.m27 {
  margin: 1.6875rem;
}

.mx27 {
  margin: 0 1.6875rem;
}

.my27 {
  margin: 1.6875rem 0;
}

.mt27 {
  margin-top: 1.6875rem;
}

.ml27 {
  margin-left: 1.6875rem;
}

.mb27 {
  margin-bottom: 1.6875rem;
}

.mr27 {
  margin-right: 1.6875rem;
}

.p27 {
  padding: 1.6875rem;
}

.px27 {
  padding: 0 1.6875rem;
}

.py27 {
  padding: 1.6875rem 0;
}

.pt27 {
  padding-top: 1.6875rem;
}

.pl27 {
  padding-left: 1.6875rem;
}

.pb27 {
  padding-bottom: 1.6875rem;
}

.pr27 {
  padding-right: 1.6875rem;
}

.fs27 {
  font-size: 27px;
}

.m28 {
  margin: 1.75rem;
}

.mx28 {
  margin: 0 1.75rem;
}

.my28 {
  margin: 1.75rem 0;
}

.mt28 {
  margin-top: 1.75rem;
}

.ml28 {
  margin-left: 1.75rem;
}

.mb28 {
  margin-bottom: 1.75rem;
}

.mr28 {
  margin-right: 1.75rem;
}

.p28 {
  padding: 1.75rem;
}

.px28 {
  padding: 0 1.75rem;
}

.py28 {
  padding: 1.75rem 0;
}

.pt28 {
  padding-top: 1.75rem;
}

.pl28 {
  padding-left: 1.75rem;
}

.pb28 {
  padding-bottom: 1.75rem;
}

.pr28 {
  padding-right: 1.75rem;
}

.fs28 {
  font-size: 28px;
}

.m29 {
  margin: 1.8125rem;
}

.mx29 {
  margin: 0 1.8125rem;
}

.my29 {
  margin: 1.8125rem 0;
}

.mt29 {
  margin-top: 1.8125rem;
}

.ml29 {
  margin-left: 1.8125rem;
}

.mb29 {
  margin-bottom: 1.8125rem;
}

.mr29 {
  margin-right: 1.8125rem;
}

.p29 {
  padding: 1.8125rem;
}

.px29 {
  padding: 0 1.8125rem;
}

.py29 {
  padding: 1.8125rem 0;
}

.pt29 {
  padding-top: 1.8125rem;
}

.pl29 {
  padding-left: 1.8125rem;
}

.pb29 {
  padding-bottom: 1.8125rem;
}

.pr29 {
  padding-right: 1.8125rem;
}

.fs29 {
  font-size: 29px;
}

.m30 {
  margin: 1.875rem;
}

.mx30 {
  margin: 0 1.875rem;
}

.my30 {
  margin: 1.875rem 0;
}

.mt30 {
  margin-top: 1.875rem;
}

.ml30 {
  margin-left: 1.875rem;
}

.mb30 {
  margin-bottom: 1.875rem;
}

.mr30 {
  margin-right: 1.875rem;
}

.p30 {
  padding: 1.875rem;
}

.px30 {
  padding: 0 1.875rem;
}

.py30 {
  padding: 1.875rem 0;
}

.pt30 {
  padding-top: 1.875rem;
}

.pl30 {
  padding-left: 1.875rem;
}

.pb30 {
  padding-bottom: 1.875rem;
}

.pr30 {
  padding-right: 1.875rem;
}

.fs30 {
  font-size: 30px;
}

.m31 {
  margin: 1.9375rem;
}

.mx31 {
  margin: 0 1.9375rem;
}

.my31 {
  margin: 1.9375rem 0;
}

.mt31 {
  margin-top: 1.9375rem;
}

.ml31 {
  margin-left: 1.9375rem;
}

.mb31 {
  margin-bottom: 1.9375rem;
}

.mr31 {
  margin-right: 1.9375rem;
}

.p31 {
  padding: 1.9375rem;
}

.px31 {
  padding: 0 1.9375rem;
}

.py31 {
  padding: 1.9375rem 0;
}

.pt31 {
  padding-top: 1.9375rem;
}

.pl31 {
  padding-left: 1.9375rem;
}

.pb31 {
  padding-bottom: 1.9375rem;
}

.pr31 {
  padding-right: 1.9375rem;
}

.fs31 {
  font-size: 31px;
}

.m32 {
  margin: 2rem;
}

.mx32 {
  margin: 0 2rem;
}

.my32 {
  margin: 2rem 0;
}

.mt32 {
  margin-top: 2rem;
}

.ml32 {
  margin-left: 2rem;
}

.mb32 {
  margin-bottom: 2rem;
}

.mr32 {
  margin-right: 2rem;
}

.p32 {
  padding: 2rem;
}

.px32 {
  padding: 0 2rem;
}

.py32 {
  padding: 2rem 0;
}

.pt32 {
  padding-top: 2rem;
}

.pl32 {
  padding-left: 2rem;
}

.pb32 {
  padding-bottom: 2rem;
}

.pr32 {
  padding-right: 2rem;
}

.fs32 {
  font-size: 32px;
}

.m33 {
  margin: 2.0625rem;
}

.mx33 {
  margin: 0 2.0625rem;
}

.my33 {
  margin: 2.0625rem 0;
}

.mt33 {
  margin-top: 2.0625rem;
}

.ml33 {
  margin-left: 2.0625rem;
}

.mb33 {
  margin-bottom: 2.0625rem;
}

.mr33 {
  margin-right: 2.0625rem;
}

.p33 {
  padding: 2.0625rem;
}

.px33 {
  padding: 0 2.0625rem;
}

.py33 {
  padding: 2.0625rem 0;
}

.pt33 {
  padding-top: 2.0625rem;
}

.pl33 {
  padding-left: 2.0625rem;
}

.pb33 {
  padding-bottom: 2.0625rem;
}

.pr33 {
  padding-right: 2.0625rem;
}

.fs33 {
  font-size: 33px;
}

.m34 {
  margin: 2.125rem;
}

.mx34 {
  margin: 0 2.125rem;
}

.my34 {
  margin: 2.125rem 0;
}

.mt34 {
  margin-top: 2.125rem;
}

.ml34 {
  margin-left: 2.125rem;
}

.mb34 {
  margin-bottom: 2.125rem;
}

.mr34 {
  margin-right: 2.125rem;
}

.p34 {
  padding: 2.125rem;
}

.px34 {
  padding: 0 2.125rem;
}

.py34 {
  padding: 2.125rem 0;
}

.pt34 {
  padding-top: 2.125rem;
}

.pl34 {
  padding-left: 2.125rem;
}

.pb34 {
  padding-bottom: 2.125rem;
}

.pr34 {
  padding-right: 2.125rem;
}

.fs34 {
  font-size: 34px;
}

.m35 {
  margin: 2.1875rem;
}

.mx35 {
  margin: 0 2.1875rem;
}

.my35 {
  margin: 2.1875rem 0;
}

.mt35 {
  margin-top: 2.1875rem;
}

.ml35 {
  margin-left: 2.1875rem;
}

.mb35 {
  margin-bottom: 2.1875rem;
}

.mr35 {
  margin-right: 2.1875rem;
}

.p35 {
  padding: 2.1875rem;
}

.px35 {
  padding: 0 2.1875rem;
}

.py35 {
  padding: 2.1875rem 0;
}

.pt35 {
  padding-top: 2.1875rem;
}

.pl35 {
  padding-left: 2.1875rem;
}

.pb35 {
  padding-bottom: 2.1875rem;
}

.pr35 {
  padding-right: 2.1875rem;
}

.fs35 {
  font-size: 35px;
}

.m36 {
  margin: 2.25rem;
}

.mx36 {
  margin: 0 2.25rem;
}

.my36 {
  margin: 2.25rem 0;
}

.mt36 {
  margin-top: 2.25rem;
}

.ml36 {
  margin-left: 2.25rem;
}

.mb36 {
  margin-bottom: 2.25rem;
}

.mr36 {
  margin-right: 2.25rem;
}

.p36 {
  padding: 2.25rem;
}

.px36 {
  padding: 0 2.25rem;
}

.py36 {
  padding: 2.25rem 0;
}

.pt36 {
  padding-top: 2.25rem;
}

.pl36 {
  padding-left: 2.25rem;
}

.pb36 {
  padding-bottom: 2.25rem;
}

.pr36 {
  padding-right: 2.25rem;
}

.fs36 {
  font-size: 36px;
}

.m37 {
  margin: 2.3125rem;
}

.mx37 {
  margin: 0 2.3125rem;
}

.my37 {
  margin: 2.3125rem 0;
}

.mt37 {
  margin-top: 2.3125rem;
}

.ml37 {
  margin-left: 2.3125rem;
}

.mb37 {
  margin-bottom: 2.3125rem;
}

.mr37 {
  margin-right: 2.3125rem;
}

.p37 {
  padding: 2.3125rem;
}

.px37 {
  padding: 0 2.3125rem;
}

.py37 {
  padding: 2.3125rem 0;
}

.pt37 {
  padding-top: 2.3125rem;
}

.pl37 {
  padding-left: 2.3125rem;
}

.pb37 {
  padding-bottom: 2.3125rem;
}

.pr37 {
  padding-right: 2.3125rem;
}

.fs37 {
  font-size: 37px;
}

.m38 {
  margin: 2.375rem;
}

.mx38 {
  margin: 0 2.375rem;
}

.my38 {
  margin: 2.375rem 0;
}

.mt38 {
  margin-top: 2.375rem;
}

.ml38 {
  margin-left: 2.375rem;
}

.mb38 {
  margin-bottom: 2.375rem;
}

.mr38 {
  margin-right: 2.375rem;
}

.p38 {
  padding: 2.375rem;
}

.px38 {
  padding: 0 2.375rem;
}

.py38 {
  padding: 2.375rem 0;
}

.pt38 {
  padding-top: 2.375rem;
}

.pl38 {
  padding-left: 2.375rem;
}

.pb38 {
  padding-bottom: 2.375rem;
}

.pr38 {
  padding-right: 2.375rem;
}

.fs38 {
  font-size: 38px;
}

.m39 {
  margin: 2.4375rem;
}

.mx39 {
  margin: 0 2.4375rem;
}

.my39 {
  margin: 2.4375rem 0;
}

.mt39 {
  margin-top: 2.4375rem;
}

.ml39 {
  margin-left: 2.4375rem;
}

.mb39 {
  margin-bottom: 2.4375rem;
}

.mr39 {
  margin-right: 2.4375rem;
}

.p39 {
  padding: 2.4375rem;
}

.px39 {
  padding: 0 2.4375rem;
}

.py39 {
  padding: 2.4375rem 0;
}

.pt39 {
  padding-top: 2.4375rem;
}

.pl39 {
  padding-left: 2.4375rem;
}

.pb39 {
  padding-bottom: 2.4375rem;
}

.pr39 {
  padding-right: 2.4375rem;
}

.fs39 {
  font-size: 39px;
}

.m40 {
  margin: 2.5rem;
}

.mx40 {
  margin: 0 2.5rem;
}

.my40 {
  margin: 2.5rem 0;
}

.mt40 {
  margin-top: 2.5rem;
}

.ml40 {
  margin-left: 2.5rem;
}

.mb40 {
  margin-bottom: 2.5rem;
}

.mr40 {
  margin-right: 2.5rem;
}

.p40 {
  padding: 2.5rem;
}

.px40 {
  padding: 0 2.5rem;
}

.py40 {
  padding: 2.5rem 0;
}

.pt40 {
  padding-top: 2.5rem;
}

.pl40 {
  padding-left: 2.5rem;
}

.pb40 {
  padding-bottom: 2.5rem;
}

.pr40 {
  padding-right: 2.5rem;
}

.fs40 {
  font-size: 40px;
}

.m41 {
  margin: 2.5625rem;
}

.mx41 {
  margin: 0 2.5625rem;
}

.my41 {
  margin: 2.5625rem 0;
}

.mt41 {
  margin-top: 2.5625rem;
}

.ml41 {
  margin-left: 2.5625rem;
}

.mb41 {
  margin-bottom: 2.5625rem;
}

.mr41 {
  margin-right: 2.5625rem;
}

.p41 {
  padding: 2.5625rem;
}

.px41 {
  padding: 0 2.5625rem;
}

.py41 {
  padding: 2.5625rem 0;
}

.pt41 {
  padding-top: 2.5625rem;
}

.pl41 {
  padding-left: 2.5625rem;
}

.pb41 {
  padding-bottom: 2.5625rem;
}

.pr41 {
  padding-right: 2.5625rem;
}

.fs41 {
  font-size: 41px;
}

.m42 {
  margin: 2.625rem;
}

.mx42 {
  margin: 0 2.625rem;
}

.my42 {
  margin: 2.625rem 0;
}

.mt42 {
  margin-top: 2.625rem;
}

.ml42 {
  margin-left: 2.625rem;
}

.mb42 {
  margin-bottom: 2.625rem;
}

.mr42 {
  margin-right: 2.625rem;
}

.p42 {
  padding: 2.625rem;
}

.px42 {
  padding: 0 2.625rem;
}

.py42 {
  padding: 2.625rem 0;
}

.pt42 {
  padding-top: 2.625rem;
}

.pl42 {
  padding-left: 2.625rem;
}

.pb42 {
  padding-bottom: 2.625rem;
}

.pr42 {
  padding-right: 2.625rem;
}

.fs42 {
  font-size: 42px;
}

.m43 {
  margin: 2.6875rem;
}

.mx43 {
  margin: 0 2.6875rem;
}

.my43 {
  margin: 2.6875rem 0;
}

.mt43 {
  margin-top: 2.6875rem;
}

.ml43 {
  margin-left: 2.6875rem;
}

.mb43 {
  margin-bottom: 2.6875rem;
}

.mr43 {
  margin-right: 2.6875rem;
}

.p43 {
  padding: 2.6875rem;
}

.px43 {
  padding: 0 2.6875rem;
}

.py43 {
  padding: 2.6875rem 0;
}

.pt43 {
  padding-top: 2.6875rem;
}

.pl43 {
  padding-left: 2.6875rem;
}

.pb43 {
  padding-bottom: 2.6875rem;
}

.pr43 {
  padding-right: 2.6875rem;
}

.fs43 {
  font-size: 43px;
}

.m44 {
  margin: 2.75rem;
}

.mx44 {
  margin: 0 2.75rem;
}

.my44 {
  margin: 2.75rem 0;
}

.mt44 {
  margin-top: 2.75rem;
}

.ml44 {
  margin-left: 2.75rem;
}

.mb44 {
  margin-bottom: 2.75rem;
}

.mr44 {
  margin-right: 2.75rem;
}

.p44 {
  padding: 2.75rem;
}

.px44 {
  padding: 0 2.75rem;
}

.py44 {
  padding: 2.75rem 0;
}

.pt44 {
  padding-top: 2.75rem;
}

.pl44 {
  padding-left: 2.75rem;
}

.pb44 {
  padding-bottom: 2.75rem;
}

.pr44 {
  padding-right: 2.75rem;
}

.fs44 {
  font-size: 44px;
}

.m45 {
  margin: 2.8125rem;
}

.mx45 {
  margin: 0 2.8125rem;
}

.my45 {
  margin: 2.8125rem 0;
}

.mt45 {
  margin-top: 2.8125rem;
}

.ml45 {
  margin-left: 2.8125rem;
}

.mb45 {
  margin-bottom: 2.8125rem;
}

.mr45 {
  margin-right: 2.8125rem;
}

.p45 {
  padding: 2.8125rem;
}

.px45 {
  padding: 0 2.8125rem;
}

.py45 {
  padding: 2.8125rem 0;
}

.pt45 {
  padding-top: 2.8125rem;
}

.pl45 {
  padding-left: 2.8125rem;
}

.pb45 {
  padding-bottom: 2.8125rem;
}

.pr45 {
  padding-right: 2.8125rem;
}

.fs45 {
  font-size: 45px;
}

.m46 {
  margin: 2.875rem;
}

.mx46 {
  margin: 0 2.875rem;
}

.my46 {
  margin: 2.875rem 0;
}

.mt46 {
  margin-top: 2.875rem;
}

.ml46 {
  margin-left: 2.875rem;
}

.mb46 {
  margin-bottom: 2.875rem;
}

.mr46 {
  margin-right: 2.875rem;
}

.p46 {
  padding: 2.875rem;
}

.px46 {
  padding: 0 2.875rem;
}

.py46 {
  padding: 2.875rem 0;
}

.pt46 {
  padding-top: 2.875rem;
}

.pl46 {
  padding-left: 2.875rem;
}

.pb46 {
  padding-bottom: 2.875rem;
}

.pr46 {
  padding-right: 2.875rem;
}

.fs46 {
  font-size: 46px;
}

.m47 {
  margin: 2.9375rem;
}

.mx47 {
  margin: 0 2.9375rem;
}

.my47 {
  margin: 2.9375rem 0;
}

.mt47 {
  margin-top: 2.9375rem;
}

.ml47 {
  margin-left: 2.9375rem;
}

.mb47 {
  margin-bottom: 2.9375rem;
}

.mr47 {
  margin-right: 2.9375rem;
}

.p47 {
  padding: 2.9375rem;
}

.px47 {
  padding: 0 2.9375rem;
}

.py47 {
  padding: 2.9375rem 0;
}

.pt47 {
  padding-top: 2.9375rem;
}

.pl47 {
  padding-left: 2.9375rem;
}

.pb47 {
  padding-bottom: 2.9375rem;
}

.pr47 {
  padding-right: 2.9375rem;
}

.fs47 {
  font-size: 47px;
}

.m48 {
  margin: 3rem;
}

.mx48 {
  margin: 0 3rem;
}

.my48 {
  margin: 3rem 0;
}

.mt48 {
  margin-top: 3rem;
}

.ml48 {
  margin-left: 3rem;
}

.mb48 {
  margin-bottom: 3rem;
}

.mr48 {
  margin-right: 3rem;
}

.p48 {
  padding: 3rem;
}

.px48 {
  padding: 0 3rem;
}

.py48 {
  padding: 3rem 0;
}

.pt48 {
  padding-top: 3rem;
}

.pl48 {
  padding-left: 3rem;
}

.pb48 {
  padding-bottom: 3rem;
}

.pr48 {
  padding-right: 3rem;
}

.fs48 {
  font-size: 48px;
}

.m49 {
  margin: 3.0625rem;
}

.mx49 {
  margin: 0 3.0625rem;
}

.my49 {
  margin: 3.0625rem 0;
}

.mt49 {
  margin-top: 3.0625rem;
}

.ml49 {
  margin-left: 3.0625rem;
}

.mb49 {
  margin-bottom: 3.0625rem;
}

.mr49 {
  margin-right: 3.0625rem;
}

.p49 {
  padding: 3.0625rem;
}

.px49 {
  padding: 0 3.0625rem;
}

.py49 {
  padding: 3.0625rem 0;
}

.pt49 {
  padding-top: 3.0625rem;
}

.pl49 {
  padding-left: 3.0625rem;
}

.pb49 {
  padding-bottom: 3.0625rem;
}

.pr49 {
  padding-right: 3.0625rem;
}

.fs49 {
  font-size: 49px;
}

.m50 {
  margin: 3.125rem;
}

.mx50 {
  margin: 0 3.125rem;
}

.my50 {
  margin: 3.125rem 0;
}

.mt50 {
  margin-top: 3.125rem;
}

.ml50 {
  margin-left: 3.125rem;
}

.mb50 {
  margin-bottom: 3.125rem;
}

.mr50 {
  margin-right: 3.125rem;
}

.p50 {
  padding: 3.125rem;
}

.px50 {
  padding: 0 3.125rem;
}

.py50 {
  padding: 3.125rem 0;
}

.pt50 {
  padding-top: 3.125rem;
}

.pl50 {
  padding-left: 3.125rem;
}

.pb50 {
  padding-bottom: 3.125rem;
}

.pr50 {
  padding-right: 3.125rem;
}

.fs50 {
  font-size: 50px;
}

.m51 {
  margin: 3.1875rem;
}

.mx51 {
  margin: 0 3.1875rem;
}

.my51 {
  margin: 3.1875rem 0;
}

.mt51 {
  margin-top: 3.1875rem;
}

.ml51 {
  margin-left: 3.1875rem;
}

.mb51 {
  margin-bottom: 3.1875rem;
}

.mr51 {
  margin-right: 3.1875rem;
}

.p51 {
  padding: 3.1875rem;
}

.px51 {
  padding: 0 3.1875rem;
}

.py51 {
  padding: 3.1875rem 0;
}

.pt51 {
  padding-top: 3.1875rem;
}

.pl51 {
  padding-left: 3.1875rem;
}

.pb51 {
  padding-bottom: 3.1875rem;
}

.pr51 {
  padding-right: 3.1875rem;
}

.fs51 {
  font-size: 51px;
}

.m52 {
  margin: 3.25rem;
}

.mx52 {
  margin: 0 3.25rem;
}

.my52 {
  margin: 3.25rem 0;
}

.mt52 {
  margin-top: 3.25rem;
}

.ml52 {
  margin-left: 3.25rem;
}

.mb52 {
  margin-bottom: 3.25rem;
}

.mr52 {
  margin-right: 3.25rem;
}

.p52 {
  padding: 3.25rem;
}

.px52 {
  padding: 0 3.25rem;
}

.py52 {
  padding: 3.25rem 0;
}

.pt52 {
  padding-top: 3.25rem;
}

.pl52 {
  padding-left: 3.25rem;
}

.pb52 {
  padding-bottom: 3.25rem;
}

.pr52 {
  padding-right: 3.25rem;
}

.fs52 {
  font-size: 52px;
}

.m53 {
  margin: 3.3125rem;
}

.mx53 {
  margin: 0 3.3125rem;
}

.my53 {
  margin: 3.3125rem 0;
}

.mt53 {
  margin-top: 3.3125rem;
}

.ml53 {
  margin-left: 3.3125rem;
}

.mb53 {
  margin-bottom: 3.3125rem;
}

.mr53 {
  margin-right: 3.3125rem;
}

.p53 {
  padding: 3.3125rem;
}

.px53 {
  padding: 0 3.3125rem;
}

.py53 {
  padding: 3.3125rem 0;
}

.pt53 {
  padding-top: 3.3125rem;
}

.pl53 {
  padding-left: 3.3125rem;
}

.pb53 {
  padding-bottom: 3.3125rem;
}

.pr53 {
  padding-right: 3.3125rem;
}

.fs53 {
  font-size: 53px;
}

.m54 {
  margin: 3.375rem;
}

.mx54 {
  margin: 0 3.375rem;
}

.my54 {
  margin: 3.375rem 0;
}

.mt54 {
  margin-top: 3.375rem;
}

.ml54 {
  margin-left: 3.375rem;
}

.mb54 {
  margin-bottom: 3.375rem;
}

.mr54 {
  margin-right: 3.375rem;
}

.p54 {
  padding: 3.375rem;
}

.px54 {
  padding: 0 3.375rem;
}

.py54 {
  padding: 3.375rem 0;
}

.pt54 {
  padding-top: 3.375rem;
}

.pl54 {
  padding-left: 3.375rem;
}

.pb54 {
  padding-bottom: 3.375rem;
}

.pr54 {
  padding-right: 3.375rem;
}

.fs54 {
  font-size: 54px;
}

.m55 {
  margin: 3.4375rem;
}

.mx55 {
  margin: 0 3.4375rem;
}

.my55 {
  margin: 3.4375rem 0;
}

.mt55 {
  margin-top: 3.4375rem;
}

.ml55 {
  margin-left: 3.4375rem;
}

.mb55 {
  margin-bottom: 3.4375rem;
}

.mr55 {
  margin-right: 3.4375rem;
}

.p55 {
  padding: 3.4375rem;
}

.px55 {
  padding: 0 3.4375rem;
}

.py55 {
  padding: 3.4375rem 0;
}

.pt55 {
  padding-top: 3.4375rem;
}

.pl55 {
  padding-left: 3.4375rem;
}

.pb55 {
  padding-bottom: 3.4375rem;
}

.pr55 {
  padding-right: 3.4375rem;
}

.fs55 {
  font-size: 55px;
}

.m56 {
  margin: 3.5rem;
}

.mx56 {
  margin: 0 3.5rem;
}

.my56 {
  margin: 3.5rem 0;
}

.mt56 {
  margin-top: 3.5rem;
}

.ml56 {
  margin-left: 3.5rem;
}

.mb56 {
  margin-bottom: 3.5rem;
}

.mr56 {
  margin-right: 3.5rem;
}

.p56 {
  padding: 3.5rem;
}

.px56 {
  padding: 0 3.5rem;
}

.py56 {
  padding: 3.5rem 0;
}

.pt56 {
  padding-top: 3.5rem;
}

.pl56 {
  padding-left: 3.5rem;
}

.pb56 {
  padding-bottom: 3.5rem;
}

.pr56 {
  padding-right: 3.5rem;
}

.fs56 {
  font-size: 56px;
}

.m57 {
  margin: 3.5625rem;
}

.mx57 {
  margin: 0 3.5625rem;
}

.my57 {
  margin: 3.5625rem 0;
}

.mt57 {
  margin-top: 3.5625rem;
}

.ml57 {
  margin-left: 3.5625rem;
}

.mb57 {
  margin-bottom: 3.5625rem;
}

.mr57 {
  margin-right: 3.5625rem;
}

.p57 {
  padding: 3.5625rem;
}

.px57 {
  padding: 0 3.5625rem;
}

.py57 {
  padding: 3.5625rem 0;
}

.pt57 {
  padding-top: 3.5625rem;
}

.pl57 {
  padding-left: 3.5625rem;
}

.pb57 {
  padding-bottom: 3.5625rem;
}

.pr57 {
  padding-right: 3.5625rem;
}

.fs57 {
  font-size: 57px;
}

.m58 {
  margin: 3.625rem;
}

.mx58 {
  margin: 0 3.625rem;
}

.my58 {
  margin: 3.625rem 0;
}

.mt58 {
  margin-top: 3.625rem;
}

.ml58 {
  margin-left: 3.625rem;
}

.mb58 {
  margin-bottom: 3.625rem;
}

.mr58 {
  margin-right: 3.625rem;
}

.p58 {
  padding: 3.625rem;
}

.px58 {
  padding: 0 3.625rem;
}

.py58 {
  padding: 3.625rem 0;
}

.pt58 {
  padding-top: 3.625rem;
}

.pl58 {
  padding-left: 3.625rem;
}

.pb58 {
  padding-bottom: 3.625rem;
}

.pr58 {
  padding-right: 3.625rem;
}

.fs58 {
  font-size: 58px;
}

.m59 {
  margin: 3.6875rem;
}

.mx59 {
  margin: 0 3.6875rem;
}

.my59 {
  margin: 3.6875rem 0;
}

.mt59 {
  margin-top: 3.6875rem;
}

.ml59 {
  margin-left: 3.6875rem;
}

.mb59 {
  margin-bottom: 3.6875rem;
}

.mr59 {
  margin-right: 3.6875rem;
}

.p59 {
  padding: 3.6875rem;
}

.px59 {
  padding: 0 3.6875rem;
}

.py59 {
  padding: 3.6875rem 0;
}

.pt59 {
  padding-top: 3.6875rem;
}

.pl59 {
  padding-left: 3.6875rem;
}

.pb59 {
  padding-bottom: 3.6875rem;
}

.pr59 {
  padding-right: 3.6875rem;
}

.fs59 {
  font-size: 59px;
}

.m60 {
  margin: 3.75rem;
}

.mx60 {
  margin: 0 3.75rem;
}

.my60 {
  margin: 3.75rem 0;
}

.mt60 {
  margin-top: 3.75rem;
}

.ml60 {
  margin-left: 3.75rem;
}

.mb60 {
  margin-bottom: 3.75rem;
}

.mr60 {
  margin-right: 3.75rem;
}

.p60 {
  padding: 3.75rem;
}

.px60 {
  padding: 0 3.75rem;
}

.py60 {
  padding: 3.75rem 0;
}

.pt60 {
  padding-top: 3.75rem;
}

.pl60 {
  padding-left: 3.75rem;
}

.pb60 {
  padding-bottom: 3.75rem;
}

.pr60 {
  padding-right: 3.75rem;
}

.fs60 {
  font-size: 60px;
}

.m61 {
  margin: 3.8125rem;
}

.mx61 {
  margin: 0 3.8125rem;
}

.my61 {
  margin: 3.8125rem 0;
}

.mt61 {
  margin-top: 3.8125rem;
}

.ml61 {
  margin-left: 3.8125rem;
}

.mb61 {
  margin-bottom: 3.8125rem;
}

.mr61 {
  margin-right: 3.8125rem;
}

.p61 {
  padding: 3.8125rem;
}

.px61 {
  padding: 0 3.8125rem;
}

.py61 {
  padding: 3.8125rem 0;
}

.pt61 {
  padding-top: 3.8125rem;
}

.pl61 {
  padding-left: 3.8125rem;
}

.pb61 {
  padding-bottom: 3.8125rem;
}

.pr61 {
  padding-right: 3.8125rem;
}

.fs61 {
  font-size: 61px;
}

.m62 {
  margin: 3.875rem;
}

.mx62 {
  margin: 0 3.875rem;
}

.my62 {
  margin: 3.875rem 0;
}

.mt62 {
  margin-top: 3.875rem;
}

.ml62 {
  margin-left: 3.875rem;
}

.mb62 {
  margin-bottom: 3.875rem;
}

.mr62 {
  margin-right: 3.875rem;
}

.p62 {
  padding: 3.875rem;
}

.px62 {
  padding: 0 3.875rem;
}

.py62 {
  padding: 3.875rem 0;
}

.pt62 {
  padding-top: 3.875rem;
}

.pl62 {
  padding-left: 3.875rem;
}

.pb62 {
  padding-bottom: 3.875rem;
}

.pr62 {
  padding-right: 3.875rem;
}

.fs62 {
  font-size: 62px;
}

.m63 {
  margin: 3.9375rem;
}

.mx63 {
  margin: 0 3.9375rem;
}

.my63 {
  margin: 3.9375rem 0;
}

.mt63 {
  margin-top: 3.9375rem;
}

.ml63 {
  margin-left: 3.9375rem;
}

.mb63 {
  margin-bottom: 3.9375rem;
}

.mr63 {
  margin-right: 3.9375rem;
}

.p63 {
  padding: 3.9375rem;
}

.px63 {
  padding: 0 3.9375rem;
}

.py63 {
  padding: 3.9375rem 0;
}

.pt63 {
  padding-top: 3.9375rem;
}

.pl63 {
  padding-left: 3.9375rem;
}

.pb63 {
  padding-bottom: 3.9375rem;
}

.pr63 {
  padding-right: 3.9375rem;
}

.fs63 {
  font-size: 63px;
}

.m64 {
  margin: 4rem;
}

.mx64 {
  margin: 0 4rem;
}

.my64 {
  margin: 4rem 0;
}

.mt64 {
  margin-top: 4rem;
}

.ml64 {
  margin-left: 4rem;
}

.mb64 {
  margin-bottom: 4rem;
}

.mr64 {
  margin-right: 4rem;
}

.p64 {
  padding: 4rem;
}

.px64 {
  padding: 0 4rem;
}

.py64 {
  padding: 4rem 0;
}

.pt64 {
  padding-top: 4rem;
}

.pl64 {
  padding-left: 4rem;
}

.pb64 {
  padding-bottom: 4rem;
}

.pr64 {
  padding-right: 4rem;
}

.fs64 {
  font-size: 64px;
}

.m65 {
  margin: 4.0625rem;
}

.mx65 {
  margin: 0 4.0625rem;
}

.my65 {
  margin: 4.0625rem 0;
}

.mt65 {
  margin-top: 4.0625rem;
}

.ml65 {
  margin-left: 4.0625rem;
}

.mb65 {
  margin-bottom: 4.0625rem;
}

.mr65 {
  margin-right: 4.0625rem;
}

.p65 {
  padding: 4.0625rem;
}

.px65 {
  padding: 0 4.0625rem;
}

.py65 {
  padding: 4.0625rem 0;
}

.pt65 {
  padding-top: 4.0625rem;
}

.pl65 {
  padding-left: 4.0625rem;
}

.pb65 {
  padding-bottom: 4.0625rem;
}

.pr65 {
  padding-right: 4.0625rem;
}

.fs65 {
  font-size: 65px;
}

.m66 {
  margin: 4.125rem;
}

.mx66 {
  margin: 0 4.125rem;
}

.my66 {
  margin: 4.125rem 0;
}

.mt66 {
  margin-top: 4.125rem;
}

.ml66 {
  margin-left: 4.125rem;
}

.mb66 {
  margin-bottom: 4.125rem;
}

.mr66 {
  margin-right: 4.125rem;
}

.p66 {
  padding: 4.125rem;
}

.px66 {
  padding: 0 4.125rem;
}

.py66 {
  padding: 4.125rem 0;
}

.pt66 {
  padding-top: 4.125rem;
}

.pl66 {
  padding-left: 4.125rem;
}

.pb66 {
  padding-bottom: 4.125rem;
}

.pr66 {
  padding-right: 4.125rem;
}

.fs66 {
  font-size: 66px;
}

.m67 {
  margin: 4.1875rem;
}

.mx67 {
  margin: 0 4.1875rem;
}

.my67 {
  margin: 4.1875rem 0;
}

.mt67 {
  margin-top: 4.1875rem;
}

.ml67 {
  margin-left: 4.1875rem;
}

.mb67 {
  margin-bottom: 4.1875rem;
}

.mr67 {
  margin-right: 4.1875rem;
}

.p67 {
  padding: 4.1875rem;
}

.px67 {
  padding: 0 4.1875rem;
}

.py67 {
  padding: 4.1875rem 0;
}

.pt67 {
  padding-top: 4.1875rem;
}

.pl67 {
  padding-left: 4.1875rem;
}

.pb67 {
  padding-bottom: 4.1875rem;
}

.pr67 {
  padding-right: 4.1875rem;
}

.fs67 {
  font-size: 67px;
}

.m68 {
  margin: 4.25rem;
}

.mx68 {
  margin: 0 4.25rem;
}

.my68 {
  margin: 4.25rem 0;
}

.mt68 {
  margin-top: 4.25rem;
}

.ml68 {
  margin-left: 4.25rem;
}

.mb68 {
  margin-bottom: 4.25rem;
}

.mr68 {
  margin-right: 4.25rem;
}

.p68 {
  padding: 4.25rem;
}

.px68 {
  padding: 0 4.25rem;
}

.py68 {
  padding: 4.25rem 0;
}

.pt68 {
  padding-top: 4.25rem;
}

.pl68 {
  padding-left: 4.25rem;
}

.pb68 {
  padding-bottom: 4.25rem;
}

.pr68 {
  padding-right: 4.25rem;
}

.fs68 {
  font-size: 68px;
}

.m69 {
  margin: 4.3125rem;
}

.mx69 {
  margin: 0 4.3125rem;
}

.my69 {
  margin: 4.3125rem 0;
}

.mt69 {
  margin-top: 4.3125rem;
}

.ml69 {
  margin-left: 4.3125rem;
}

.mb69 {
  margin-bottom: 4.3125rem;
}

.mr69 {
  margin-right: 4.3125rem;
}

.p69 {
  padding: 4.3125rem;
}

.px69 {
  padding: 0 4.3125rem;
}

.py69 {
  padding: 4.3125rem 0;
}

.pt69 {
  padding-top: 4.3125rem;
}

.pl69 {
  padding-left: 4.3125rem;
}

.pb69 {
  padding-bottom: 4.3125rem;
}

.pr69 {
  padding-right: 4.3125rem;
}

.fs69 {
  font-size: 69px;
}

.m70 {
  margin: 4.375rem;
}

.mx70 {
  margin: 0 4.375rem;
}

.my70 {
  margin: 4.375rem 0;
}

.mt70 {
  margin-top: 4.375rem;
}

.ml70 {
  margin-left: 4.375rem;
}

.mb70 {
  margin-bottom: 4.375rem;
}

.mr70 {
  margin-right: 4.375rem;
}

.p70 {
  padding: 4.375rem;
}

.px70 {
  padding: 0 4.375rem;
}

.py70 {
  padding: 4.375rem 0;
}

.pt70 {
  padding-top: 4.375rem;
}

.pl70 {
  padding-left: 4.375rem;
}

.pb70 {
  padding-bottom: 4.375rem;
}

.pr70 {
  padding-right: 4.375rem;
}

.fs70 {
  font-size: 70px;
}

.m71 {
  margin: 4.4375rem;
}

.mx71 {
  margin: 0 4.4375rem;
}

.my71 {
  margin: 4.4375rem 0;
}

.mt71 {
  margin-top: 4.4375rem;
}

.ml71 {
  margin-left: 4.4375rem;
}

.mb71 {
  margin-bottom: 4.4375rem;
}

.mr71 {
  margin-right: 4.4375rem;
}

.p71 {
  padding: 4.4375rem;
}

.px71 {
  padding: 0 4.4375rem;
}

.py71 {
  padding: 4.4375rem 0;
}

.pt71 {
  padding-top: 4.4375rem;
}

.pl71 {
  padding-left: 4.4375rem;
}

.pb71 {
  padding-bottom: 4.4375rem;
}

.pr71 {
  padding-right: 4.4375rem;
}

.fs71 {
  font-size: 71px;
}

.m72 {
  margin: 4.5rem;
}

.mx72 {
  margin: 0 4.5rem;
}

.my72 {
  margin: 4.5rem 0;
}

.mt72 {
  margin-top: 4.5rem;
}

.ml72 {
  margin-left: 4.5rem;
}

.mb72 {
  margin-bottom: 4.5rem;
}

.mr72 {
  margin-right: 4.5rem;
}

.p72 {
  padding: 4.5rem;
}

.px72 {
  padding: 0 4.5rem;
}

.py72 {
  padding: 4.5rem 0;
}

.pt72 {
  padding-top: 4.5rem;
}

.pl72 {
  padding-left: 4.5rem;
}

.pb72 {
  padding-bottom: 4.5rem;
}

.pr72 {
  padding-right: 4.5rem;
}

.fs72 {
  font-size: 72px;
}

.m73 {
  margin: 4.5625rem;
}

.mx73 {
  margin: 0 4.5625rem;
}

.my73 {
  margin: 4.5625rem 0;
}

.mt73 {
  margin-top: 4.5625rem;
}

.ml73 {
  margin-left: 4.5625rem;
}

.mb73 {
  margin-bottom: 4.5625rem;
}

.mr73 {
  margin-right: 4.5625rem;
}

.p73 {
  padding: 4.5625rem;
}

.px73 {
  padding: 0 4.5625rem;
}

.py73 {
  padding: 4.5625rem 0;
}

.pt73 {
  padding-top: 4.5625rem;
}

.pl73 {
  padding-left: 4.5625rem;
}

.pb73 {
  padding-bottom: 4.5625rem;
}

.pr73 {
  padding-right: 4.5625rem;
}

.fs73 {
  font-size: 73px;
}

.m74 {
  margin: 4.625rem;
}

.mx74 {
  margin: 0 4.625rem;
}

.my74 {
  margin: 4.625rem 0;
}

.mt74 {
  margin-top: 4.625rem;
}

.ml74 {
  margin-left: 4.625rem;
}

.mb74 {
  margin-bottom: 4.625rem;
}

.mr74 {
  margin-right: 4.625rem;
}

.p74 {
  padding: 4.625rem;
}

.px74 {
  padding: 0 4.625rem;
}

.py74 {
  padding: 4.625rem 0;
}

.pt74 {
  padding-top: 4.625rem;
}

.pl74 {
  padding-left: 4.625rem;
}

.pb74 {
  padding-bottom: 4.625rem;
}

.pr74 {
  padding-right: 4.625rem;
}

.fs74 {
  font-size: 74px;
}

.m75 {
  margin: 4.6875rem;
}

.mx75 {
  margin: 0 4.6875rem;
}

.my75 {
  margin: 4.6875rem 0;
}

.mt75 {
  margin-top: 4.6875rem;
}

.ml75 {
  margin-left: 4.6875rem;
}

.mb75 {
  margin-bottom: 4.6875rem;
}

.mr75 {
  margin-right: 4.6875rem;
}

.p75 {
  padding: 4.6875rem;
}

.px75 {
  padding: 0 4.6875rem;
}

.py75 {
  padding: 4.6875rem 0;
}

.pt75 {
  padding-top: 4.6875rem;
}

.pl75 {
  padding-left: 4.6875rem;
}

.pb75 {
  padding-bottom: 4.6875rem;
}

.pr75 {
  padding-right: 4.6875rem;
}

.fs75 {
  font-size: 75px;
}

.m76 {
  margin: 4.75rem;
}

.mx76 {
  margin: 0 4.75rem;
}

.my76 {
  margin: 4.75rem 0;
}

.mt76 {
  margin-top: 4.75rem;
}

.ml76 {
  margin-left: 4.75rem;
}

.mb76 {
  margin-bottom: 4.75rem;
}

.mr76 {
  margin-right: 4.75rem;
}

.p76 {
  padding: 4.75rem;
}

.px76 {
  padding: 0 4.75rem;
}

.py76 {
  padding: 4.75rem 0;
}

.pt76 {
  padding-top: 4.75rem;
}

.pl76 {
  padding-left: 4.75rem;
}

.pb76 {
  padding-bottom: 4.75rem;
}

.pr76 {
  padding-right: 4.75rem;
}

.fs76 {
  font-size: 76px;
}

.m77 {
  margin: 4.8125rem;
}

.mx77 {
  margin: 0 4.8125rem;
}

.my77 {
  margin: 4.8125rem 0;
}

.mt77 {
  margin-top: 4.8125rem;
}

.ml77 {
  margin-left: 4.8125rem;
}

.mb77 {
  margin-bottom: 4.8125rem;
}

.mr77 {
  margin-right: 4.8125rem;
}

.p77 {
  padding: 4.8125rem;
}

.px77 {
  padding: 0 4.8125rem;
}

.py77 {
  padding: 4.8125rem 0;
}

.pt77 {
  padding-top: 4.8125rem;
}

.pl77 {
  padding-left: 4.8125rem;
}

.pb77 {
  padding-bottom: 4.8125rem;
}

.pr77 {
  padding-right: 4.8125rem;
}

.fs77 {
  font-size: 77px;
}

.m78 {
  margin: 4.875rem;
}

.mx78 {
  margin: 0 4.875rem;
}

.my78 {
  margin: 4.875rem 0;
}

.mt78 {
  margin-top: 4.875rem;
}

.ml78 {
  margin-left: 4.875rem;
}

.mb78 {
  margin-bottom: 4.875rem;
}

.mr78 {
  margin-right: 4.875rem;
}

.p78 {
  padding: 4.875rem;
}

.px78 {
  padding: 0 4.875rem;
}

.py78 {
  padding: 4.875rem 0;
}

.pt78 {
  padding-top: 4.875rem;
}

.pl78 {
  padding-left: 4.875rem;
}

.pb78 {
  padding-bottom: 4.875rem;
}

.pr78 {
  padding-right: 4.875rem;
}

.fs78 {
  font-size: 78px;
}

.m79 {
  margin: 4.9375rem;
}

.mx79 {
  margin: 0 4.9375rem;
}

.my79 {
  margin: 4.9375rem 0;
}

.mt79 {
  margin-top: 4.9375rem;
}

.ml79 {
  margin-left: 4.9375rem;
}

.mb79 {
  margin-bottom: 4.9375rem;
}

.mr79 {
  margin-right: 4.9375rem;
}

.p79 {
  padding: 4.9375rem;
}

.px79 {
  padding: 0 4.9375rem;
}

.py79 {
  padding: 4.9375rem 0;
}

.pt79 {
  padding-top: 4.9375rem;
}

.pl79 {
  padding-left: 4.9375rem;
}

.pb79 {
  padding-bottom: 4.9375rem;
}

.pr79 {
  padding-right: 4.9375rem;
}

.fs79 {
  font-size: 79px;
}

.m80 {
  margin: 5rem;
}

.mx80 {
  margin: 0 5rem;
}

.my80 {
  margin: 5rem 0;
}

.mt80 {
  margin-top: 5rem;
}

.ml80 {
  margin-left: 5rem;
}

.mb80 {
  margin-bottom: 5rem;
}

.mr80 {
  margin-right: 5rem;
}

.p80 {
  padding: 5rem;
}

.px80 {
  padding: 0 5rem;
}

.py80 {
  padding: 5rem 0;
}

.pt80 {
  padding-top: 5rem;
}

.pl80 {
  padding-left: 5rem;
}

.pb80 {
  padding-bottom: 5rem;
}

.pr80 {
  padding-right: 5rem;
}

.fs80 {
  font-size: 80px;
}

.m81 {
  margin: 5.0625rem;
}

.mx81 {
  margin: 0 5.0625rem;
}

.my81 {
  margin: 5.0625rem 0;
}

.mt81 {
  margin-top: 5.0625rem;
}

.ml81 {
  margin-left: 5.0625rem;
}

.mb81 {
  margin-bottom: 5.0625rem;
}

.mr81 {
  margin-right: 5.0625rem;
}

.p81 {
  padding: 5.0625rem;
}

.px81 {
  padding: 0 5.0625rem;
}

.py81 {
  padding: 5.0625rem 0;
}

.pt81 {
  padding-top: 5.0625rem;
}

.pl81 {
  padding-left: 5.0625rem;
}

.pb81 {
  padding-bottom: 5.0625rem;
}

.pr81 {
  padding-right: 5.0625rem;
}

.fs81 {
  font-size: 81px;
}

.m82 {
  margin: 5.125rem;
}

.mx82 {
  margin: 0 5.125rem;
}

.my82 {
  margin: 5.125rem 0;
}

.mt82 {
  margin-top: 5.125rem;
}

.ml82 {
  margin-left: 5.125rem;
}

.mb82 {
  margin-bottom: 5.125rem;
}

.mr82 {
  margin-right: 5.125rem;
}

.p82 {
  padding: 5.125rem;
}

.px82 {
  padding: 0 5.125rem;
}

.py82 {
  padding: 5.125rem 0;
}

.pt82 {
  padding-top: 5.125rem;
}

.pl82 {
  padding-left: 5.125rem;
}

.pb82 {
  padding-bottom: 5.125rem;
}

.pr82 {
  padding-right: 5.125rem;
}

.fs82 {
  font-size: 82px;
}

.m83 {
  margin: 5.1875rem;
}

.mx83 {
  margin: 0 5.1875rem;
}

.my83 {
  margin: 5.1875rem 0;
}

.mt83 {
  margin-top: 5.1875rem;
}

.ml83 {
  margin-left: 5.1875rem;
}

.mb83 {
  margin-bottom: 5.1875rem;
}

.mr83 {
  margin-right: 5.1875rem;
}

.p83 {
  padding: 5.1875rem;
}

.px83 {
  padding: 0 5.1875rem;
}

.py83 {
  padding: 5.1875rem 0;
}

.pt83 {
  padding-top: 5.1875rem;
}

.pl83 {
  padding-left: 5.1875rem;
}

.pb83 {
  padding-bottom: 5.1875rem;
}

.pr83 {
  padding-right: 5.1875rem;
}

.fs83 {
  font-size: 83px;
}

.m84 {
  margin: 5.25rem;
}

.mx84 {
  margin: 0 5.25rem;
}

.my84 {
  margin: 5.25rem 0;
}

.mt84 {
  margin-top: 5.25rem;
}

.ml84 {
  margin-left: 5.25rem;
}

.mb84 {
  margin-bottom: 5.25rem;
}

.mr84 {
  margin-right: 5.25rem;
}

.p84 {
  padding: 5.25rem;
}

.px84 {
  padding: 0 5.25rem;
}

.py84 {
  padding: 5.25rem 0;
}

.pt84 {
  padding-top: 5.25rem;
}

.pl84 {
  padding-left: 5.25rem;
}

.pb84 {
  padding-bottom: 5.25rem;
}

.pr84 {
  padding-right: 5.25rem;
}

.fs84 {
  font-size: 84px;
}

.m85 {
  margin: 5.3125rem;
}

.mx85 {
  margin: 0 5.3125rem;
}

.my85 {
  margin: 5.3125rem 0;
}

.mt85 {
  margin-top: 5.3125rem;
}

.ml85 {
  margin-left: 5.3125rem;
}

.mb85 {
  margin-bottom: 5.3125rem;
}

.mr85 {
  margin-right: 5.3125rem;
}

.p85 {
  padding: 5.3125rem;
}

.px85 {
  padding: 0 5.3125rem;
}

.py85 {
  padding: 5.3125rem 0;
}

.pt85 {
  padding-top: 5.3125rem;
}

.pl85 {
  padding-left: 5.3125rem;
}

.pb85 {
  padding-bottom: 5.3125rem;
}

.pr85 {
  padding-right: 5.3125rem;
}

.fs85 {
  font-size: 85px;
}

.m86 {
  margin: 5.375rem;
}

.mx86 {
  margin: 0 5.375rem;
}

.my86 {
  margin: 5.375rem 0;
}

.mt86 {
  margin-top: 5.375rem;
}

.ml86 {
  margin-left: 5.375rem;
}

.mb86 {
  margin-bottom: 5.375rem;
}

.mr86 {
  margin-right: 5.375rem;
}

.p86 {
  padding: 5.375rem;
}

.px86 {
  padding: 0 5.375rem;
}

.py86 {
  padding: 5.375rem 0;
}

.pt86 {
  padding-top: 5.375rem;
}

.pl86 {
  padding-left: 5.375rem;
}

.pb86 {
  padding-bottom: 5.375rem;
}

.pr86 {
  padding-right: 5.375rem;
}

.fs86 {
  font-size: 86px;
}

.m87 {
  margin: 5.4375rem;
}

.mx87 {
  margin: 0 5.4375rem;
}

.my87 {
  margin: 5.4375rem 0;
}

.mt87 {
  margin-top: 5.4375rem;
}

.ml87 {
  margin-left: 5.4375rem;
}

.mb87 {
  margin-bottom: 5.4375rem;
}

.mr87 {
  margin-right: 5.4375rem;
}

.p87 {
  padding: 5.4375rem;
}

.px87 {
  padding: 0 5.4375rem;
}

.py87 {
  padding: 5.4375rem 0;
}

.pt87 {
  padding-top: 5.4375rem;
}

.pl87 {
  padding-left: 5.4375rem;
}

.pb87 {
  padding-bottom: 5.4375rem;
}

.pr87 {
  padding-right: 5.4375rem;
}

.fs87 {
  font-size: 87px;
}

.m88 {
  margin: 5.5rem;
}

.mx88 {
  margin: 0 5.5rem;
}

.my88 {
  margin: 5.5rem 0;
}

.mt88 {
  margin-top: 5.5rem;
}

.ml88 {
  margin-left: 5.5rem;
}

.mb88 {
  margin-bottom: 5.5rem;
}

.mr88 {
  margin-right: 5.5rem;
}

.p88 {
  padding: 5.5rem;
}

.px88 {
  padding: 0 5.5rem;
}

.py88 {
  padding: 5.5rem 0;
}

.pt88 {
  padding-top: 5.5rem;
}

.pl88 {
  padding-left: 5.5rem;
}

.pb88 {
  padding-bottom: 5.5rem;
}

.pr88 {
  padding-right: 5.5rem;
}

.fs88 {
  font-size: 88px;
}

.m89 {
  margin: 5.5625rem;
}

.mx89 {
  margin: 0 5.5625rem;
}

.my89 {
  margin: 5.5625rem 0;
}

.mt89 {
  margin-top: 5.5625rem;
}

.ml89 {
  margin-left: 5.5625rem;
}

.mb89 {
  margin-bottom: 5.5625rem;
}

.mr89 {
  margin-right: 5.5625rem;
}

.p89 {
  padding: 5.5625rem;
}

.px89 {
  padding: 0 5.5625rem;
}

.py89 {
  padding: 5.5625rem 0;
}

.pt89 {
  padding-top: 5.5625rem;
}

.pl89 {
  padding-left: 5.5625rem;
}

.pb89 {
  padding-bottom: 5.5625rem;
}

.pr89 {
  padding-right: 5.5625rem;
}

.fs89 {
  font-size: 89px;
}

.m90 {
  margin: 5.625rem;
}

.mx90 {
  margin: 0 5.625rem;
}

.my90 {
  margin: 5.625rem 0;
}

.mt90 {
  margin-top: 5.625rem;
}

.ml90 {
  margin-left: 5.625rem;
}

.mb90 {
  margin-bottom: 5.625rem;
}

.mr90 {
  margin-right: 5.625rem;
}

.p90 {
  padding: 5.625rem;
}

.px90 {
  padding: 0 5.625rem;
}

.py90 {
  padding: 5.625rem 0;
}

.pt90 {
  padding-top: 5.625rem;
}

.pl90 {
  padding-left: 5.625rem;
}

.pb90 {
  padding-bottom: 5.625rem;
}

.pr90 {
  padding-right: 5.625rem;
}

.fs90 {
  font-size: 90px;
}

.m91 {
  margin: 5.6875rem;
}

.mx91 {
  margin: 0 5.6875rem;
}

.my91 {
  margin: 5.6875rem 0;
}

.mt91 {
  margin-top: 5.6875rem;
}

.ml91 {
  margin-left: 5.6875rem;
}

.mb91 {
  margin-bottom: 5.6875rem;
}

.mr91 {
  margin-right: 5.6875rem;
}

.p91 {
  padding: 5.6875rem;
}

.px91 {
  padding: 0 5.6875rem;
}

.py91 {
  padding: 5.6875rem 0;
}

.pt91 {
  padding-top: 5.6875rem;
}

.pl91 {
  padding-left: 5.6875rem;
}

.pb91 {
  padding-bottom: 5.6875rem;
}

.pr91 {
  padding-right: 5.6875rem;
}

.fs91 {
  font-size: 91px;
}

.m92 {
  margin: 5.75rem;
}

.mx92 {
  margin: 0 5.75rem;
}

.my92 {
  margin: 5.75rem 0;
}

.mt92 {
  margin-top: 5.75rem;
}

.ml92 {
  margin-left: 5.75rem;
}

.mb92 {
  margin-bottom: 5.75rem;
}

.mr92 {
  margin-right: 5.75rem;
}

.p92 {
  padding: 5.75rem;
}

.px92 {
  padding: 0 5.75rem;
}

.py92 {
  padding: 5.75rem 0;
}

.pt92 {
  padding-top: 5.75rem;
}

.pl92 {
  padding-left: 5.75rem;
}

.pb92 {
  padding-bottom: 5.75rem;
}

.pr92 {
  padding-right: 5.75rem;
}

.fs92 {
  font-size: 92px;
}

.m93 {
  margin: 5.8125rem;
}

.mx93 {
  margin: 0 5.8125rem;
}

.my93 {
  margin: 5.8125rem 0;
}

.mt93 {
  margin-top: 5.8125rem;
}

.ml93 {
  margin-left: 5.8125rem;
}

.mb93 {
  margin-bottom: 5.8125rem;
}

.mr93 {
  margin-right: 5.8125rem;
}

.p93 {
  padding: 5.8125rem;
}

.px93 {
  padding: 0 5.8125rem;
}

.py93 {
  padding: 5.8125rem 0;
}

.pt93 {
  padding-top: 5.8125rem;
}

.pl93 {
  padding-left: 5.8125rem;
}

.pb93 {
  padding-bottom: 5.8125rem;
}

.pr93 {
  padding-right: 5.8125rem;
}

.fs93 {
  font-size: 93px;
}

.m94 {
  margin: 5.875rem;
}

.mx94 {
  margin: 0 5.875rem;
}

.my94 {
  margin: 5.875rem 0;
}

.mt94 {
  margin-top: 5.875rem;
}

.ml94 {
  margin-left: 5.875rem;
}

.mb94 {
  margin-bottom: 5.875rem;
}

.mr94 {
  margin-right: 5.875rem;
}

.p94 {
  padding: 5.875rem;
}

.px94 {
  padding: 0 5.875rem;
}

.py94 {
  padding: 5.875rem 0;
}

.pt94 {
  padding-top: 5.875rem;
}

.pl94 {
  padding-left: 5.875rem;
}

.pb94 {
  padding-bottom: 5.875rem;
}

.pr94 {
  padding-right: 5.875rem;
}

.fs94 {
  font-size: 94px;
}

.m95 {
  margin: 5.9375rem;
}

.mx95 {
  margin: 0 5.9375rem;
}

.my95 {
  margin: 5.9375rem 0;
}

.mt95 {
  margin-top: 5.9375rem;
}

.ml95 {
  margin-left: 5.9375rem;
}

.mb95 {
  margin-bottom: 5.9375rem;
}

.mr95 {
  margin-right: 5.9375rem;
}

.p95 {
  padding: 5.9375rem;
}

.px95 {
  padding: 0 5.9375rem;
}

.py95 {
  padding: 5.9375rem 0;
}

.pt95 {
  padding-top: 5.9375rem;
}

.pl95 {
  padding-left: 5.9375rem;
}

.pb95 {
  padding-bottom: 5.9375rem;
}

.pr95 {
  padding-right: 5.9375rem;
}

.fs95 {
  font-size: 95px;
}

.m96 {
  margin: 6rem;
}

.mx96 {
  margin: 0 6rem;
}

.my96 {
  margin: 6rem 0;
}

.mt96 {
  margin-top: 6rem;
}

.ml96 {
  margin-left: 6rem;
}

.mb96 {
  margin-bottom: 6rem;
}

.mr96 {
  margin-right: 6rem;
}

.p96 {
  padding: 6rem;
}

.px96 {
  padding: 0 6rem;
}

.py96 {
  padding: 6rem 0;
}

.pt96 {
  padding-top: 6rem;
}

.pl96 {
  padding-left: 6rem;
}

.pb96 {
  padding-bottom: 6rem;
}

.pr96 {
  padding-right: 6rem;
}

.fs96 {
  font-size: 96px;
}

.m97 {
  margin: 6.0625rem;
}

.mx97 {
  margin: 0 6.0625rem;
}

.my97 {
  margin: 6.0625rem 0;
}

.mt97 {
  margin-top: 6.0625rem;
}

.ml97 {
  margin-left: 6.0625rem;
}

.mb97 {
  margin-bottom: 6.0625rem;
}

.mr97 {
  margin-right: 6.0625rem;
}

.p97 {
  padding: 6.0625rem;
}

.px97 {
  padding: 0 6.0625rem;
}

.py97 {
  padding: 6.0625rem 0;
}

.pt97 {
  padding-top: 6.0625rem;
}

.pl97 {
  padding-left: 6.0625rem;
}

.pb97 {
  padding-bottom: 6.0625rem;
}

.pr97 {
  padding-right: 6.0625rem;
}

.fs97 {
  font-size: 97px;
}

.m98 {
  margin: 6.125rem;
}

.mx98 {
  margin: 0 6.125rem;
}

.my98 {
  margin: 6.125rem 0;
}

.mt98 {
  margin-top: 6.125rem;
}

.ml98 {
  margin-left: 6.125rem;
}

.mb98 {
  margin-bottom: 6.125rem;
}

.mr98 {
  margin-right: 6.125rem;
}

.p98 {
  padding: 6.125rem;
}

.px98 {
  padding: 0 6.125rem;
}

.py98 {
  padding: 6.125rem 0;
}

.pt98 {
  padding-top: 6.125rem;
}

.pl98 {
  padding-left: 6.125rem;
}

.pb98 {
  padding-bottom: 6.125rem;
}

.pr98 {
  padding-right: 6.125rem;
}

.fs98 {
  font-size: 98px;
}

.m99 {
  margin: 6.1875rem;
}

.mx99 {
  margin: 0 6.1875rem;
}

.my99 {
  margin: 6.1875rem 0;
}

.mt99 {
  margin-top: 6.1875rem;
}

.ml99 {
  margin-left: 6.1875rem;
}

.mb99 {
  margin-bottom: 6.1875rem;
}

.mr99 {
  margin-right: 6.1875rem;
}

.p99 {
  padding: 6.1875rem;
}

.px99 {
  padding: 0 6.1875rem;
}

.py99 {
  padding: 6.1875rem 0;
}

.pt99 {
  padding-top: 6.1875rem;
}

.pl99 {
  padding-left: 6.1875rem;
}

.pb99 {
  padding-bottom: 6.1875rem;
}

.pr99 {
  padding-right: 6.1875rem;
}

.fs99 {
  font-size: 99px;
}

.m100 {
  margin: 6.25rem;
}

.mx100 {
  margin: 0 6.25rem;
}

.my100 {
  margin: 6.25rem 0;
}

.mt100 {
  margin-top: 6.25rem;
}

.ml100 {
  margin-left: 6.25rem;
}

.mb100 {
  margin-bottom: 6.25rem;
}

.mr100 {
  margin-right: 6.25rem;
}

.p100 {
  padding: 6.25rem;
}

.px100 {
  padding: 0 6.25rem;
}

.py100 {
  padding: 6.25rem 0;
}

.pt100 {
  padding-top: 6.25rem;
}

.pl100 {
  padding-left: 6.25rem;
}

.pb100 {
  padding-bottom: 6.25rem;
}

.pr100 {
  padding-right: 6.25rem;
}

.fs100 {
  font-size: 100px;
}

/*# sourceMappingURL=gap.css.map */
