@charset "utf-8";

.flex {
  display: flex;
}

.flex__center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex__end {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
