:root {
  --background-color: #eef1f5;
  --white-color: #FFFFFF;
  --nav-item-color: #0a0b0b;
  --nav-theme-btn-bg: #eef1f5;
  --nav-item-active-color: #ffffff;
  --nav-item-bg: rgba(0, 0, 0, 0.6);
  --nav-item-active-bg-color: #0a0b0b;
  --nav-small-bg: rgb(238, 238, 238);
  --gaussian-blur: rgba(248, 248, 248, 0.4);
  --nav-wave-1: rgba(0, 0, 0, 0.6);
  --primary-color: #0a0b0b;
  --primary-border-color: #1b1b1b;
  --error-color: #f5576c;
  --error-color-rgba: rgba(245, 87, 108, 0.4);
  --input-border-color: #898989;
  --box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-small: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 2px;
  --border-radius-large: 4px;
  --readonly-color: #eeeeee;
  --disabled-color: #a8abb2;
  --ripples-color: #c9c9c9;
  --model-bg-color: rgba(0, 0, 0, 0.2);
  --model-deep-bg-color: rgba(0, 0, 0, 0.8);
  --model-control-bg-color: rgba(0, 0, 0, 0.5);
  --nav-active-bg-color: #dcdcdc;
  --cannel-btn-color: #eeeeee;
  --tag-choose-bg-color: #d2d2d2;
  --common-title-bg-color: #898989;
  --tag-border-color: #898989;
  --nav-link-bg: #eeeeee;
  --nav-link-hover: rgba(250, 250, 250, 1);
  --nav-item-bg-active: #e5e5e5;
  --nav-small-item-active-bg: #dcdcdc;
  --table-bg-color: #f9f9f9;
  --table-th-bg-color: #e5e5e5;
  --table-th-color: #666666;
  --table-tr-bg-color: #eeeeee;
  --table-tr-bg-color-hover: #dcdcdc;
  --table-tr-border-color: #c9c9c9;
  --message-success-color: #67C23A;
  --message-warning-color: #E6A23C;
  --message-error-color: #F56C6C;
  --message-info-color: #0a0b0b;
  --image-element-seat-bg: #eeeeee;
  --login-box-bg: radial-gradient(circle at center, #ebebeb 10%, transparent 20%);
  --login-box-border-color: #eeeeee;
  --input-placeholder-color: #999999;
  --btn-bg-default-color: #0a0b0b;
  --btn-bg-primary-text-color: #ffffff;
  --user-input-bg: var(--readonly-color);
  --detail-title: var(--readonly-color);
}

.dark-theme {
  --background-color: #0a0b0b;
  --white-color: #1b1b1b;
  --nav-item-color: #ffffff;
  --nav-theme-btn-bg: rgba(0, 0, 0, 0.6);
  --nav-item-active-color: #ffffff;
  --nav-item-bg: rgba(0, 0, 0, 0.6);
  --nav-item-active-bg-color: #0a0b0b;
  --nav-small-bg: #1b1b1b;
  --nav-small-item-active-bg: #0a0b0b;
  --nav-link-hover: #0a0b0b;
  --nav-item-bg-active: #0a0b0b;
  --gaussian-blur: rgba(248, 248, 248, 0.1);
  --nav-wave-1: rgba(0, 0, 0, 0.6);
  --primary-color: #eef1f5;
  --primary-border-color: rgba(101, 94, 94, 0.25);
  --box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.25);
  --box-shadow-small: 0px 2px 4px 0px rgba(255, 255, 255, 0.25);
  --login-box-bg: radial-gradient(circle at center, var(--white-color) 10%, transparent 20%);
  --login-box-border-color: #1b1b1b;
  --btn-bg-default-color: #0a0b0b;
  --btn-bg-primary-text-color: #ffffff;
  --table-bg-color: #1b1b1b;
  --table-th-color: var(--primary-color);
  --table-th-bg-color: #0a0b0b;
  --table-tr-bg-color-hover: #0a0b0b;
  --table-tr-border-color: #0a0b0b;
  --user-input-bg: #1b1b1b;
  --detail-title: #0a0b0b;

  //#region wangEditor
  // textarea - css vars
  --w-e-textarea-bg-color: var(--white-color);
  --w-e-textarea-color: var(--primary-color);
  --w-e-textarea-border-color: var(--white-color);
  --w-e-textarea-slight-border-color: var(--white-color);
  --w-e-textarea-slight-color: var(--primary-color);
  --w-e-textarea-slight-bg-color: #0a0b0b;
  --w-e-textarea-selected-border-color: #B4D5FF; // 选中的元素，如选中了分割线
  --w-e-textarea-handler-bg-color: #4290f7; // 工具，如图片拖拽按钮
    
  // toolbar - css vars
  --w-e-toolbar-color: var(--primary-color);
  --w-e-toolbar-bg-color: var(--white-color);
  --w-e-toolbar-active-color: var(--primary-color);
  --w-e-toolbar-active-bg-color: #0a0b0b;
  --w-e-toolbar-disabled-color: #999;
  --w-e-toolbar-border-color: #e8e8e8;
    
  // modal - css vars
  --w-e-modal-button-bg-color: #fafafa;
  --w-e-modal-button-border-color: #d9d9d9;
  //#endregion
}

body {
  color: var(--primary-color);
}

.dark-theme .icon {
  color: var(--primary-color)!important;
}
